html, body {
	position: relative;
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #000000;
	color: #ffffff;
}

.centerWH {
	width: 100%;
	height: 100%;
	text-align: center;
	position: fixed;
}
.centerWH:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
	.centerWH > * {
		display: inline-block;
		vertical-align: middle;
	}

.session .closeButton {
	position: fixed;
	top: 0;
	right: 0;
	display: block;
	width: 3vh;
	height: 3vh;
	z-index: 4;
	font-size: 5vh;
	padding: 1vh;
}
.sessionSelection {
	font-size: 3vh;
	line-height: 5.5vh;
}
.sessionSelection .logo {
	max-width: 220px;
	max-height: 220px;
	height: 30vh;
}
